.left {
    background:linear-gradient(rgba(51, 0, 255,0.8),rgba(51, 0, 255,1));
    display: inherit;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  
    color: white;
    border-radius: 20px;
    flex-direction: column;

}

