@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@600&display=swap');
* {
  margin: 0;
  padding: 0;
font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;

}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.App{
    display: flex;
    height:500px;
    width: 700px;
  align-items: center;
justify-content: center;
border-radius: 20px;
box-shadow: 20px 20px 20px whitesmoke;
}
